.header-content {
    font-family: Inter;
    font-size: 38px;
    line-height: 49.4px;
    text-align: left;
    color: #262626;
    margin: 0

}

.header-container {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 16px 24px;
    background-color: #f0f5ff;
}

.header-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    text-align: left;
    margin: 0
}
