#root {
    min-height: 100vh;
    max-width: 1440px;
    background-image: url(../../../main_page_light.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /*     
 margin: 0 auto;
 padding: 2rem;
 */
    text-align: center;
}

footer {
    margin-top: auto;
}
