#login_email {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    padding: 11px 12px 11px 83px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

* {
    box-sizing: border-box;
}

.ant-form-item-control-input-content {
    position: relative;
}
.email-icon {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    padding: 11px 12px;
    border-right: 1px solid #d9d9d9;
    background: linear-gradient(0deg, #fafafa, #fafafa), linear-gradient(0deg, #d9d9d9, #d9d9d9);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}
